body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
  
#header {
  position: relative;
  z-index: 2;
}

#logo {
  max-width: 90px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 10px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.navbar {
  margin: 20px;
  float: right;
  overflow: hidden;
  text-align: center;
  padding: 0px;
  align-items: center;
  display: inline-flex;
  background-color: #372b2b;
  border-radius: 5px;
}

.navbar li {
  display: inline-block;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  padding: 10px;
  margin-right: 10px;
  color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  text-decoration: none;
}

.navbar button {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar li :hover {
  background-color: #f0f0f0;
  color: #592d2d;
}


.hero-img {
  height: 500px;
  width: 1300px;
  margin: 0;
  position: relative;
  z-index: 1;
  display: block;
}

.search-container {
  background-color: #fffbf6;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  position: relative;
  z-index: 2;
  width: 800px;
}

.search-container a {
  color: #f0f0f0;
  text-decoration: none;
}

.container-class {
  padding: 0 19rem;
  margin: -6rem 0;
}

form {
  display: flex;
  max-width: 800px;
  position: relative;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}

.checkin,
.checkout,
.number,
button {
  text-align: center;
}

.search-container label {
  margin-bottom: 10px;
}

.search-container input {
  padding: 8px 10px;
  border: none;
  border-bottom: 1px solid #ccc; 
  font-size: 1rem;
  text-align: center;
}

button {
  background-color: #592d2d; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: 55px;
  font-size: 1.1rem;
}

.box-Facilities {
  text-align: center;
  height: 500px;
  max-width: none;
  margin: 0;
  position: static;
  margin-top: 400px;
  margin-left: 60px;
}

.box-kiri,
.box-kiri2,
.box-kanan2,
.box-kanan {
  width: 200px;
  height: 200px;
  background-color: grey;
  text-align: center;
  color: #f0f0f0;
  padding: 20px 20px;
  margin: 60px 10px 10px 60px;
  border-radius: 15px;
  float: left;
}

.container {
  background-color: #cbc6b5;
  text-align: center;
  height: 500px;
  max-width: none;
}

.container h2 {
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 80px;
  margin-top: 10px;
}

.box-favorite {
  height: 600px;
  margin: 0;
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 70px;
}

.box-favorite h2 {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.favorite {
  color: black;
}

.room {
  color: #936929;
}

.view {
  display: inline-block;
  vertical-align: middle;
  margin-left: 800px;
  color: #724b00;
  font-size: small;
  text-decoration: none;
  padding: 5px 7px;
  border: solid 1px #724b00;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.view:hover {
  color: #f0f0f0;
  background-color: #724b00;
}

.box-rooms {
  display: flex;
  margin: 10px;
}

.box-rooms1,
.box-rooms2,
.box-rooms3 {
  background-color: #f0f0f0;
  width: 350px;
  height: 500px;
  border-radius: 15px;
  position: relative;
  margin-top: 10px;
  margin-right: 40px;
  box-shadow: 4px 4px 6px grey;
  margin-bottom: 100px;
}

.room-images {
  width: 320px;
  height: 210px;
  border-radius: 15px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.icon-room {
  display: flex;
  align-items: center;
  left: 25px;
  bottom: 0;
  position: absolute;
  top: 20px;
}

.icon-room img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f0f0;
  border: 1px solid gray;
}

.icon-room p,
.icon-room img {
  display: inline-block;
  vertical-align: middle;
}

.icon-item {
  margin: 10px;
  align-items: center;
  margin-left: 10px;
}

p,
h4,
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-room {
  position: absolute;
  top: 280px;
  left: 25px;
  align-items: center;
}

.content-room h4 {
  margin-bottom: 15px;
  font-size: medium;
}

.content-room p {
  margin-top: 0px;
  font-size: medium;
}

.harga {
  color: #936929;
  font-weight: bold;
}

.day {
  color: black;
}

.price a {
  margin-left: 40px;
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: #936929;
  border-radius: 15px;
  font-weight: bold;
}

.book :hover {
  color: #936929;
  background-color: white;
}

.price p {
  margin-left: 25px;
}

.price p,
.price a {
  display: inline-flex;
  margin-top: 450px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #d4d1cb;
}

.logofooter {
  display: flex;
  text-align: left;
  margin-top: 40px;
}

.logofooter img {
  height: 56px;
  width: 65px;
  display: flex;
  margin-left: 150px;
  border-style: groove;
  margin-right: 5px;
}

.logofooter p {
  font-family: "Times New Roman", Times, serif;
  padding-top: 8px;
}

.footer p {
  margin-bottom: 10px;
  margin-top: 1px;
}

.footer a {
  text-decoration: none;
  color: black;
}

.copyright {
  margin-top: auto;
  font-size: smaller;
  margin-left: 10px;
  margin-right: 10px;
}
