body {
    margin: 0px;
    padding: 0px;
}

#header {
    position: relative;
}

#logo {
    max-width: 90px; 
    display: inline-block; 
    vertical-align: middle; 
    margin-left: 10px;
    margin-top: 10px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    display: inline-block; 
    vertical-align: middle; 
    margin: 0;
}

/* style navigation bar */
.navbar {
    margin:20px;
    float: right;
    overflow: hidden;
    text-align: center;
    padding: 0px;
    align-items: center;
    display: inline-flex;
    background-color: #372B2B;
    border-radius: 5px;
}

.navbar li {
    display: inline-block;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    padding: 10px;
    margin-right: 10px;
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.navbar button {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar li :hover {
    background-color:#f0f0f0;
    color: #592D2D;
}

/* about us style */
.container {
    background-color: #BEAD8B;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Menyusun kontennya ke tengah secara horizontal */
   
}

.container h1 {
    margin-bottom: 30px;
    text-align: center;
}

.content img {
    width: 500px;
    width: 400px;
    margin-left: 100px;
}





/* Style Footer */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #D4D1CB;
    position: relative;
}

.logofooter {
    display: flex;
    text-align: left;
    margin-top: 40px;
}

.logofooter img {
    height: 56px ;
    width: 65px;
    display: flex;
    margin-left: 150px;
    border-style: groove;
    margin-right: 5px;
}

.logofooter p {
    font-family: 'Times New Roman', Times, serif;
}

.copyright {
    margin-top: auto;
    font-size: smaller;
    margin-left: 10px;
    margin-right: 10px;
}

