body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    /* background-image: url("images/reeleven\ building.jpeg");
    background-repeat: no-repeat; */
}

#header {
    position: relative;
    z-index: 2;
}

#logo {
    max-width: 90px; 
    display: inline-block; 
    vertical-align: middle; 
    margin-left: 10px;
    margin-top: 10px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    display: inline-block; 
    vertical-align: middle; 
    margin: 0;
}

/* style navigation bar */
.navbar {
    margin:20px;
    float: right;
    overflow: hidden;
    text-align: center;
    padding: 0px;
    align-items: center;
    display: inline-flex;
    background-color: #372B2B;
    border-radius: 5px;
}

.navbar li {
    display: inline-block;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    padding: 10px;
    margin-right: 10px;
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    text-decoration: none;
}

.navbar button {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar li :hover {
    background-color:#f0f0f0;
    color: #592D2D;
}

/* .navbar li.active {
    background-color: #592D2D;
} */  

/* style hero */
#hero {
    position: relative;
    z-index: 1;
}

#hero img {
    height: 627px;
    width: 1440px;
    margin: 0;
}


/* style facilities */
.box-Facilities {
    text-align: center;
    height: 627px;
    width: 1440px;
    margin: 0;
}

.box-kiri, .box-kiri2, .box-kanan2, .box-kanan {
    width: 200px;
    height: 200px;
    background-color: grey;
    text-align: center;
    color: #f0f0f0;
    padding: 20px 20px;
    margin: 70px 20px 20px 70px;
    border-radius: 15px;
    float: left;
}


/* style Service */
.container {
    background-color: rgb(255, 205, 187);
    text-align: center;
    height: 627px;
    width: 1440px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 80px;
}


/* style Favorite Room */
.box-favorite {
    height: 627px;
    width: 1440px;
    margin: 0;
    margin-top: 50px;
    margin-left: 30px;
}

.box-favorite h2 {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.favorite {
    color: black;
}

.room {
    color: #936929;
}

.box-favorite a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 800px;
    color: #724B00;
    font-size: small;
    text-decoration: none;
    padding: 5px 7px;
    border: solid 1px #724B00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-favorite a:hover {
    color: #f0f0f0;
    background-color: #724B00;
}

.box-rooms img {
    width: 300px;
    height: 200px;
    background-color: #936929;
}

.icon-room img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    overflow: hidden;
}

/* Style Footer */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #D4D1CB
}

.logofooter {
    display: flex;
    text-align: left;
    margin-top: 40px;
}

.logofooter img {
    height: 56px ;
    width: 65px;
    display: flex;
    margin-left: 150px;
    border-style: groove;
    margin-right: 5px;
}

.logofooter p {
    font-family: 'Times New Roman', Times, serif;
}

.copyright {
    margin-top: auto;
    font-size: smaller;
    margin-left: 10px;
    margin-right: 10px;
}









